.root {
    @apply relative max-h-full;
    &:nth-child(6n + 1) .productBg {
        @apply bg-purple-600;
    }
    &:nth-child(6n + 3) .productBg {
        @apply bg-pink;
    }

    &:hover {
        & .productBg:before {
            content: '';
            transform: scale(0.98);
        }

        & .productImage {
            transform: scale(1.15);
        }
    }
}

.productTag {
    @apply z-20 absolute top-0 left-0;

    & > * {
        @apply bg-primary;
        font-size: 2rem;
        letter-spacing: 0.4px;
    }
}
.productBg {
    @apply absolute inset-0 bg-gray-700;
    &:before {
        @apply block absolute inset-0 bg-repeat-space transition-transform duration-1000;
        content: '';
        background-image: url('/product-pattern.svg');
    }
}
.productTitle {
    @apply font-bold leading-10;
    line-height: 2.2em;

    & span {
        @apply px-6 py-4;
        /* The above padding and margin wasnt applied to the second part of the product title and it was overflowing */
        box-decoration-break: clone;
    }
}

.productImage {
    @apply transition-transform duration-1000;
}
.productPrice {
    @apply px-6 pt-2 pb-4 text-xl font-semibold tracking-wide;
}
